<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DeleteSpecificEmployee</servlet-name>
  	<display-name>DeleteSpecificEmployee</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DeleteSpecificEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSpecificUser</servlet-name>
  	<display-name>DeleteSpecificUser</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DeleteSpecificUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassWordServlet</servlet-name>
  	<display-name>ForgotPassWordServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ForgotPassWordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCredentialsServlet</servlet-name>
  	<display-name>LoginCredentialsServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.LoginCredentialsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerActionServlet</servlet-name>
  	<display-name>ManagerActionServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerActionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerUpdateRequestServlet</servlet-name>
  	<display-name>ManagerUpdateRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerUpdateRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerViewServlet</servlet-name>
  	<display-name>ManagerViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReImbursementRequestServlet</servlet-name>
  	<display-name>ReImbursementRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ReImbursementRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<display-name>ResetPassword</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ResetPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<display-name>SignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateInfoServlet</servlet-name>
  	<display-name>UpdateInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllApprovedRequests</servlet-name>
  	<display-name>ViewAllApprovedRequests</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewAllApprovedRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllDeniedRequests</servlet-name>
  	<display-name>ViewAllDeniedRequests</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewAllDeniedRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllEmployeesServlet</servlet-name>
  	<display-name>ViewAllEmployeesServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllPendingRequests</servlet-name>
  	<display-name>ViewAllPendingRequests</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewAllPendingRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewEmployeeAllRequest</servlet-name>
  	<display-name>ViewEmployeeAllRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewEmployeeAllRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewEmployeeApporvedRequest</servlet-name>
  	<display-name>ViewEmployeeApporvedRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewEmployeeApporvedRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewEmployeeDeniedRequest</servlet-name>
  	<display-name>ViewEmployeeDeniedRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewEmployeeDeniedRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewEmployeePendingRequest</servlet-name>
  	<display-name>ViewEmployeePendingRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewEmployeePendingRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<display-name>ViewProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewSpecificEmployeeRequest</servlet-name>
  	<display-name>ViewSpecificEmployeeRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewSpecificEmployeeRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewSpecificUserRequest</servlet-name>
  	<display-name>ViewSpecificUserRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewSpecificUserRequest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteSpecificEmployee</servlet-name>
  	<url-pattern>/DeleteSpecificEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSpecificUser</servlet-name>
  	<url-pattern>/DeleteSpecificUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassWordServlet</servlet-name>
  	<url-pattern>/ForgotPassWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCredentialsServlet</servlet-name>
  	<url-pattern>/LoginCredentialsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerActionServlet</servlet-name>
  	<url-pattern>/ManagerActionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerUpdateRequestServlet</servlet-name>
  	<url-pattern>/ManagerUpdateRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerViewServlet</servlet-name>
  	<url-pattern>/ManagerViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReImbursementRequestServlet</servlet-name>
  	<url-pattern>/ReImbursementRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateInfoServlet</servlet-name>
  	<url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllApprovedRequests</servlet-name>
  	<url-pattern>/ViewAllApprovedRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllDeniedRequests</servlet-name>
  	<url-pattern>/ViewAllDeniedRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllEmployeesServlet</servlet-name>
  	<url-pattern>/ViewAllEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllPendingRequests</servlet-name>
  	<url-pattern>/ViewAllPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewEmployeeAllRequest</servlet-name>
  	<url-pattern>/ViewEmployeeAllRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewEmployeeApporvedRequest</servlet-name>
  	<url-pattern>/ViewEmployeeApporvedRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewEmployeeDeniedRequest</servlet-name>
  	<url-pattern>/ViewEmployeeDeniedRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewEmployeePendingRequest</servlet-name>
  	<url-pattern>/ViewEmployeePendingRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewSpecificEmployeeRequest</servlet-name>
  	<url-pattern>/ViewSpecificEmployeeRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewSpecificUserRequest</servlet-name>
  	<url-pattern>/ViewSpecificUserRequest</url-pattern>
  </servlet-mapping>
</web-app>
